@import '../../styles/colors.scss';

.weekly-top {
  margin: 31px 30px 40px 31px;
  box-sizing: border-box;
  font-family: 'Comfortaa', cursive;

  &--mob {
    margin: 31px 30px 20px 31px;
  }

  &__legend {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    padding-left: 10px;
    font-size: 26px;
    font-weight: 500;
    letter-spacing: 3px;
    color: #373944;
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
    transition: all 0.3s;

    &--mob {
      font-size: 18px;
      padding-left: 0;
    }

    &:hover {
      color: $pink;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
  }

  &__btn {
    height: 48px;
    width: 48px;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 2px 2px 8px rgb(0 0 0 / 35%);
    position: relative;
    transition: all 0.3s;

    &--mob {
      height: 28px;
      width: 28px;

      &:nth-child(1) {
        margin-right: 8px;
      }
    }

    &:nth-child(1) {
      margin-right: 20px;
    }

    svg {
      height: 20px;
      width: 20px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &:hover {
      transform: scale(1.05);
    }
  }

  ul {
    padding: 0;
    margin: 0;
  }

  .slide-items {
    overflow: hidden;

    &__single-items {
      position: relative;
      display: flex;
      list-style: none;
      justify-content: space-between;
      left: 0;
      transition: all ease 0.3s;
    }

    &__single-img {
      height: 140px;
      width: 140px;
      border-radius: 10px;
      box-shadow: 5px 5px 5px 5px rgba($color: #8a8c99, $alpha: 0.3);
      margin-left: 25px;
      margin-top: 25px;
      object-fit: cover;
      cursor: pointer;

      &--mob {
        height: 90px;
        width: 90px;
      }
    }

    &__name-song {
      width: 188px;
      font-size: 18px;
      letter-spacing: 1px;
      text-align: center;
      color: #0f1e36;
      font-weight: 500;
      padding-top: 32px;
      display: block;
      text-decoration: none;
      transition: all 0.3s;

      span {
        transition: all 0.3s;
      }

      span:hover {
        color: $pink;
        cursor: pointer;
      }

      &--mob {
        width: 138px;
        font-size: 12px;
        padding-top: 10px;
      }
    }

    &__singer {
      width: 188px;
      font-size: 14px;
      letter-spacing: 1px;
      text-align: center;
      color: $gray;
      padding-top: 12px;
      display: block;
      text-decoration: none;
      transition: all 0.3s;

      span {
        transition: all 0.3s;
      }

      span:hover {
        color: $pink;
        cursor: pointer;
      }

      &--mob {
        width: 138px;
        font-size: 10px;
      }
    }
  }
}
