<<<<<<< HEAD
@import '../../styles/colors.scss';

.mediateka-albums {
  background-color: $white;
  border-radius: 50px 0 0 50px;
  width: 100%;
  box-sizing: border-box;
  padding: 30px;
  max-height: calc(100% - 50px);

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    font-family: 'Comfortaa', cursive;
    font-size: 30px;
    line-height: 33px;
    margin-bottom: 30px;
  }

  &__add {
    color: $gray;
    font-size: 20px;
    cursor: pointer;

    &:hover {
      color: $pink;
    }
  }

  &__content-wrapper {
    max-height: calc(100vh - 320px);
    overflow: auto;
    margin-bottom: 75px;
    box-sizing: border-box;

    &::-webkit-scrollbar {
      width: 0;
    }
  }

  &__content {
    height: 100%;
    font-family: 'Comfortaa', cursive;
    color: #0094b6;
    font-size: 16px;
    line-height: 16px;
    font-weight: lighter;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    overflow: hidden;
  }

  &__album {
    width: 200px;
    padding: 10px;
    margin: 5px;
    height: 235px;
    cursor: pointer;
    overflow: hidden;

    img {
      width: 200px;
      height: 200px;
      transition: all 0.3s;

      &:hover {
        width: 220px;
        height: 220px;
        transform: translate(-10px, -10px);
      }
    }
  }

  &__album-title {
    text-align: center;
    padding-top: 5px;
    color: $black;
  }

  &__not-found {
    text-align: center;
    padding: 50px;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
    color: #0094b6;
    font-size: 16px;
    line-height: 16px;
    font-weight: lighter;
  }
=======
.class {
  font-size: 15px;
>>>>>>> MEGA UPDATE
}
