@import '../../styles/colors.scss';

%button {
  height: 48px;
  width: 48px;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 5px 5px 5px 5px rgba($color: #8a8c99, $alpha: 0.3);
  outline: none;
  background-position: center;
  background-repeat: no-repeat;
}

.feature-week {
  height: 408px;
  background-image: url(../../image/альбом1.png);
  background-size: 100%;
  background-position: center;
  font-family: 'M PLUS 1p', sans-serif;

  .position-feature {
    padding-top: 122px;
    padding-left: 41.8%;

    .title {
      height: 39px;
      width: 252px;
      background-color: $white;
      border-radius: 20px;
    }
  }

  .title-text {
    color: $pink;
    letter-spacing: 2px;
    text-align: center;
    font-size: 15px;
    line-height: 12px;
    padding-top: 15px;
  }

  .song-name {
    font-size: 40px;
    letter-spacing: 3px;
    font-weight: 600;
    color: $white;
    padding-left: 41.8%;
    display: block;
    cursor: pointer;
    text-decoration: none;
  }

  .singers {
    top: 234px;
    padding-left: 41.8%;
    font-size: 25px;
    letter-spacing: 3px;
    color: $white;
    display: block;
    cursor: pointer;
    text-decoration: none;
  }

  .position-button {
    padding-left: 41.8%;
    padding-top: 20px;
  }

  .play {
    @extend %button;

    height: 68px;
    width: 68px;
    top: 303px;
    left: 767px;
    background-color: $white;
    background-image: url(../../icons/arrow_right_black_24dp.svg);
    background-size: 70px;
    background-repeat: no-repeat;
  }
}
