@import '../../styles/colors.scss';

.header {
  position: absolute;
  height: 60px;
  width: 100%;
  background-color: $white;
  display: flex;

  .logo {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
    width: 60px;
    height: 50px;
    background-image: url(icons/Logo_solo_mockup.svg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
  }

  .logo-text {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
    color: #0094b6;
  }

  .search-form {
    position: relative;
    top: 50%;
    left: 250px;
    width: 350px;
    height: 40px;
    border-radius: 40px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    transform: translate(-50%, -50%);
    background: #fff;
    transition: all 0.3s ease;
  }

  .search-icon {
    height: 20px;
    width: 20px;
    background-image: url(icons/search_black_24dp.svg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
  }

  .search-input {
    position: absolute;
    top: 10px;
    left: 38px;
    background: none;
    color: $gray;
    width: 300px;
    height: 20px;
    border: none;
    appearance: none;
    outline: none;
    font-family: 'Comfortaa', cursive;
    font-size: 18px;

    &::-webkit-search-cancel-button {
      appearance: none;
    }
  }

  .search-button {
    position: absolute;
    top: 10px;
    left: 15px;
    height: 20px;
    width: 20px;
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    outline: none !important;
    cursor: pointer;
  }

  %button {
    height: 38px;
    width: 38px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px rgba($color: $gray, $alpha: 0.3);
    outline: none;
    float: right;
    margin-top: 10px;
    margin-right: 50px;
    background-position: center;
    background-repeat: no-repeat;
    transform: translate(1300%, 10%);
  }

  .profile {
    @extend %button;

    background-image: url(../../image/артист4.png);
    background-size: 120%;

    .close {
      display: none;
    }

    .profile-menu {
      position: absolute;
      background-color: $white;
      width: 300px;
      height: 300px;
      top: 75px;
      right: -50px;
      border-radius: 10px;
      z-index: 50;

      .data-profile {
        display: flex;
        margin-top: 15px;

        .image-profile {
          background-image: url(../../image/артист4.png);
          background-position: center;
          background-size: 120%;
          height: 55px;
          width: 55px;
          margin-left: 15px;
          border-radius: 35px;
        }

        .text {
          text-align: start;
          font-family: 'Comfortaa', cursive;
          font-size: 15px;
          padding-top: 5px;
          margin-right: 10px;
          margin-left: 20px;
          color: $gray;

          .nickname {
            margin-bottom: 5px;
            font-size: 20px;
            font-weight: 600;
          }
        }
      }

      ul {
        padding: 0;
        margin: 0;
      }

      .item {
        padding-bottom: 7px;
        width: 100%;
        display: flex;

        %icon {
          height: 25px;
          width: 25px;
          background-position: center;
          background-repeat: no-repeat;
          background-size: 100%;
          margin-right: 10px;
        }

        .icon-1 {
          @extend %icon;

          background-image: url(./icons/settings_black_24dp.svg);
        }

        .icon-2 {
          @extend %icon;

          background-image: url(./icons/exit_to_app_black_24dp.svg);
        }

        .icon-3 {
          @extend %icon;

          background-image: url(./icons/brightness_4_black_24dp.svg);
        }

        .icon-4 {
          @extend %icon;

          background-image: url(./icons/help_outline_black_24dp.svg);
        }

        .icon-5 {
          @extend %icon;

          background-image: url(./icons/language_black_24dp.svg);
        }

        .next {
          margin-right: 0;
          height: 25px;
          width: 25px;
          margin-left: 10px;
          background-image: url(./icons/chevron_right_black_24dp.svg);
        }

        .link {
          margin-top: 5px;
          text-decoration: none;
          color: $gray;
          margin-right: 0;
          width: 200px;
        }
      }

      .item:hover {
        .link {
          color: $pink;
        }

        .icon-1 {
          background-image: url(./icons//settings_pink.svg);
        }

        .icon-2 {
          background-image: url(./icons/exit_pink.svg);
        }

        .icon-3 {
          background-image: url(./icons/brightness_pink.svg);
        }

        .icon-4 {
          background-image: url(./icons/help_pink.svg);
        }

        .icon-5 {
          background-image: url(./icons/language_pink.svg);
        }

        .next {
          background-image: url(./icons/chevron_pink.svg);
        }
      }

      .items-user {
        margin-top: 13px;
        list-style: none;
        font-family: 'Comfortaa', cursive;
        text-align: start;
        font-size: 18px;
        margin-left: 20px;
      }

      .line {
        margin-top: 13px;
        height: 1px;
        width: 100%;
        border-bottom: 1px solid $gray;
      }
    }
  }
}
