@import '../../styles/colors.scss';

@mixin btn {
  cursor: pointer;
  width: 30px;
  height: 30px;
  margin: 0 10px;

  &:hover {
    svg {
      path {
        fill: $pink;
      }
    }
  }

  svg {
    width: 30px;
    height: 30px;

    path {
      transition: all 0.3s;
      fill: $gray;
    }
  }
}

@mixin btn-mob {
  cursor: pointer;
  width: 25px;
  height: 25px;
  margin: 0 5px;

  &:hover {
    svg {
      path {
        fill: $pink;
      }
    }
  }

  svg {
    width: 25px;
    height: 25px;

    path {
      transition: all 0.3s;
      fill: $gray;
    }
  }
}

.player {
  width: 100%;
  height: 100%;
  background-color: $white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: $borders solid 1px;
  padding: 0 15px;
  box-sizing: border-box;

  &__controls {
    display: flex;
    align-items: center;
    height: 100%;
  }

  &__name {
    width: 150px;
    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    div {
      font-size: 12px;
      margin-top: 2px;
      color: $gray;
    }
  }

  &__title {
    display: flex;
    align-items: center;

    img {
      height: 55px;
      width: 55px;
      margin-right: 15px;
    }
  }

  &__like-btns {
    display: flex;
    align-items: center;
    height: 100%;
  }

  &__like {
    cursor: pointer;
    width: 25px;
    height: 25px;
    margin: 0 10px;

    svg {
      width: 25px;
      height: 25px;

      path {
        transition: all 0.3s;
        fill: $gray;
      }
    }

    &--checked {
      svg {
        path {
          fill: $pink;
        }
      }
    }

    &:hover {
      svg {
        path {
          fill: $pink;
        }
      }
    }
  }

  &__add {
    cursor: pointer;
    width: 25px;
    height: 25px;
    margin: 0 10px;

    svg {
      width: 25px;
      height: 25px;

      path {
        transition: all 0.3s;
        stroke: $gray;
      }
    }

    &--checked {
      svg {
        path {
          stroke: $pink;
        }
      }
    }

    &:hover {
      svg {
        path {
          stroke: $pink;
        }
      }
    }
  }

  &__track-line {
    flex-grow: 1;
    margin: 0 20px;
    display: flex;
    align-items: center;
    height: 100%;

    input {
      width: 100%;
      margin: 0;
    }
  }

  &__volume {
    display: flex;
    align-items: center;
    height: 100%;
  }

  &__volume-icon {
    @include btn;
  }

  &__prev-btn {
    @include btn;
  }

  &__play-btn {
    @include btn;

    &--pause {
      &:hover {
        svg {
          path {
            fill: none;
            stroke: $pink;
          }
        }
      }

      svg {
        width: 30px;
        height: 30px;

        path {
          stroke: $gray;
          fill: none;
        }
      }
    }
  }

  &__next-btn {
    @include btn;
  }
}

.player--mob {
  justify-content: space-between;

  .player {
    &__title {
      img {
        height: 40px;
        width: 40px;
      }
    }

    &__like {
      width: 25px;
      height: 25px;
      margin: 0 5px;

      svg {
        width: 25px;
        height: 25px;
      }

      &:hover {
        svg {
          path {
            fill: $gray;
          }
        }
      }
    }

    &__add {
      width: 25px;
      height: 25px;
      margin: 0 5px;

      svg {
        width: 25px;
        height: 25px;
      }

      &:hover {
        svg {
          path {
            stroke: $gray;
          }
        }
      }
    }

    &__play-btn {
      @include btn-mob;

      &--pause {
        &:hover {
          svg {
            path {
              stroke: $gray;
            }
          }
        }

        svg {
          width: 25px;
          height: 25px;
        }
      }
    }
  }
}
