@import '../../styles/colors.scss';

.search-page {
  width: 100%;
  height: 100%;

  &__tabs-search {
    margin-top: 30px;
    margin-left: 20px;
    display: flex;
  }

  &__search-tab {
    padding: 7px 12px;
    cursor: pointer;
    color: $gray;

    &:hover {
      color: $pink;
    }

    &--active {
      border-radius: 2px;
      border: 1px solid $pink;
      background-color: $pink;
      color: #fff;

      &:hover {
        color: #fff;
      }
    }
  }
}
