$white: #fff;
$background: #f0f3fa;
$black: #0f1e36; // черный текст
$error: #fd0101;
$pink: #ef548e; // (1 цвет)
$gray: #8a8c99; // серый текст, неактивные иконки (2 цвет)
$borders: #efeff7; // бордеры (все, которые разделяют блоки)
$cyan: #0094b6; // (3 цвет)
$cyan-light: rgba(0, 148, 182, 0.45);
