$white: #fff;
$background: #f0f3fa;
$input-text: #6c7172;
$black: #000;
$error: #fd0101;
$pink: #ef548e;
$gray: #8a8c99;
$borders: #efeff7;
$cyan-light: rgba(0, 148, 182, 0.45);
$cyan: #0094b6;
$text-black: #0f1e36;
