@import '../../../styles/colors.scss';

.user-playlist {
  width: 100%;
  box-sizing: border-box;
  padding: 30px;
  max-height: calc(100% - 50px);

  &--mob {
    padding: 5px;
  }

  &__title {
    font-family: 'Comfortaa', cursive;
    font-size: 30px;
    line-height: 33px;
    margin-bottom: 30px;
  }

  &__content-wrapper {
    max-height: calc(100vh - 320px);
    overflow: auto;
    box-sizing: border-box;

    &::-webkit-scrollbar {
      width: 0;
    }
  }

  &__content {
    height: 100%;
    font-family: 'Comfortaa', cursive;
    color: #0094b6;
    font-size: 16px;
    line-height: 16px;
    font-weight: lighter;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    overflow: hidden;
  }

  &__create {
    color: $pink;
    margin-left: 10px;
    cursor: pointer;
  }

  &__album {
    width: 200px;
    padding: 10px;
    margin: 5px;
    height: 235px;
    cursor: pointer;
    overflow: hidden;

    img {
      width: 200px;
      height: 200px;
      transition: all 0.3s;

      &:hover {
        width: 220px;
        height: 220px;
        transform: translate(-10px, -10px);
      }
    }

    &--mob {
      padding: 10px;
      margin: 15px 0 0 0;
      height: 135px;
      width: 100px;

      img {
        width: 100px;
        height: 100px;
      }
    }
  }

  &__album-title {
    text-align: center;
    padding-top: 5px;
    color: $black;

    &--mob {
      font-size: 13px;
    }
  }

  &__not-found {
    text-align: center;
    padding: 50px;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
    color: #0094b6;
    font-size: 16px;
    line-height: 16px;
    font-weight: lighter;
  }
}
