@import '../../styles/colors.scss';

.right-menu {
  height: 100vh;
  width: 200px;
  background-color: #fff;
  position: fixed;
  padding-top: 15px;

  &__text {
    transition: all 0.5s;
    color: $gray;
    text-decoration: none;
  }

  &__icon {
    width: 20px;
    transition: all 0.5s;
    margin: 0 10px 0 15px;

    svg {
      width: 20px;
      height: 20px;

      path {
        transition: all 0.3s;
        fill: $gray;
      }
    }

    &--not-fill {
      svg {
        path {
          fill: none;
          stroke: $gray;
        }
      }
    }
  }

  &__item {
    font-family: 'Comfortaa', cursive;
    font-size: 16px;
    letter-spacing: 1.5px;
    margin-bottom: 25px;
    list-style: none;
    cursor: pointer;
    height: 25px;
    display: flex;
    align-items: center;

    &:hover {
      .right-menu__text {
        color: $pink;
      }

      .right-menu__icon {
        svg {
          path {
            fill: $pink;
          }
        }
      }

      .right-menu__icon--not-fill {
        svg {
          path {
            stroke: $pink;
            fill: none;
          }
        }
      }
    }

    &--checked {
      .right-menu__text {
        color: $pink;
      }

      .right-menu__icon {
        svg {
          path {
            fill: $pink;
          }
        }
      }

      .right-menu__icon--not-fill {
        svg {
          path {
            stroke: $pink;
            fill: none;
          }
        }
      }
    }
  }
}
