@import '../../styles/colors.scss';

%button {
  height: 48px;
  width: 48px;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 5px 5px 5px 5px rgba($color: $gray, $alpha: 0.3);
  outline: none;
  background-position: center;
  background-repeat: no-repeat;
}

.feature-week {
  position: relative;
  height: 408px;
  font-family: 'Heebo', sans-serif;
  font-weight: 800;
  font-size: 16px;

  &--mob {
    position: relative;
    height: 308px;
  }

  &__image {
    height: 408px;
    width: 100%;
    object-fit: cover;

    &--mob {
      height: 308px;
    }
  }

  &__position-feature {
    position: absolute;
    top: 122px;
    left: 41.8%;

    &--mob {
      top: 90px;
    }
  }

  &__title-text {
    color: $pink;
    letter-spacing: 2px;
    text-align: center;
    font-size: 15px;
    line-height: 12px;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #fff;

    &--mob {
      font-size: 10px;
      padding: 5px 10px;
      font-weight: 800;
    }
  }

  &__song-name {
    position: absolute;
    left: 41.8%;
    top: 170px;
    font-size: 40px;
    letter-spacing: 3px;
    font-weight: 600;
    color: $white;
    display: block;
    cursor: pointer;
    text-decoration: none;

    &--mob {
      font-size: 25px;
      top: 140px;
    }
  }

  &__singers {
    position: absolute;
    top: 229px;
    left: 41.8%;
    font-size: 25px;
    letter-spacing: 3px;
    color: $white;
    display: block;
    cursor: pointer;
    text-decoration: none;

    &--mob {
      font-size: 15px;
      top: 190px;
    }
  }

  &__position-button {
    padding-left: 41.8%;
    padding-top: 20px;
  }

  &__play {
    @extend %button;

    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 40px;
      width: 40px;
      fill: $pink;
    }

    svg > path {
      stroke: $pink;
    }

    position: absolute;
    height: 68px;
    width: 68px;
    top: 303px;
    background-color: $white;
    background-size: 70px;
    background-repeat: no-repeat;
    transition: all 0.5s;

    &--mob {
      height: 48px;
      width: 48px;
      top: 233px;

      svg {
        height: 25px;
        width: 25px;
      }
    }

    &:hover {
      transform: scale(1.05, 1.05);
    }
  }
}
