@import '../../styles/colors.scss';

.profile-page-wrapper {
  height: 100%;

  .profile-page {
    width: calc(100% - 125px);
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

    &__photo {
      width: 250px;

      img {
        width: 100%;
        border-radius: 40px;
      }
    }

    &__main-info {
      display: flex;
      align-items: flex-start;
      background-color: $white;
      padding: 15px;
      border-radius: 30px;
      margin-top: 15%;
    }

    &__text-info-container {
      margin: 0 0 0 15px;
      width: 400px;
    }

    &__text-info {
      &--nickname {
        font-size: 40px;
      }

      &--email {
        font-size: 20px;
      }
    }
  }
}
