@import '../../styles/colors.scss';

.profile-page {
  width: 100%;
  height: 100%;
  padding: 40px;
  box-sizing: border-box;

  &__wrapper {
    height: 100%;
  }

  &__div-photo {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 150px 450px;
    gap: 50px;
  }

  &__name {
    font-family: 'Comfortaa', cursive;
    font-size: 25px;
    text-align: right;
  }

  &__photo {
    width: 250px;
    margin-bottom: 15px;

    input {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
    }
  }

  &__change-photo {
    cursor: pointer;
  }

  &__main-info {
    display: flex;
    align-items: flex-start;
    background-color: $white;
    padding: 15px;
    border-radius: 30px;
    grid-area: span 1 / span 4;
  }

  &__changeStatus {
    display: flex;
    margin-left: 150px;
    margin-top: 20px;
    background-color: #ceffbc;
    padding: 5px;
    width: max-content;
    border-radius: 3px;

    svg > path {
      stroke: #247719;
    }
  }

  &__isOkey {
    color: #247719;
    margin-left: 10px;
  }

  &__image {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid $gray;
  }

  &__text-info-container {
    margin: 0 0 0 15px;
  }

  &__text-info {
    &--nickname {
      font-size: 40px;
    }

    &--email {
      font-size: 20px;
    }
  }

  .change-data {
    border-radius: 30px;
    background-color: $white;
    padding: 15px;
    grid-area: span 1 / span 2;
    height: 560px;

    &__input {
      button {
        background-color: $pink;
        border-radius: 5px;
        width: 200px;
        height: 50px;
        color: $white;
        font-size: 22px;
        line-height: 25px;
        font-weight: 500;
        cursor: pointer;
        transform: scale(0.975, 0.975);
        transition: all 0.5s;
        margin-left: 150px;
        margin-top: 30px;

        &:hover {
          transform: scale(1, 1);
        }
      }
    }
  }
}
