@import '../../styles/colors.scss';
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500&display=swap');

.main-page {
  background-color: $background;
  display: flex;
  justify-content: space-between;

  .right-menu {
    height: 100vh;
    width: 15vw;
    background-color: #fff;
    position: fixed;

    .menu-items {
      padding-top: 50px;
      padding-left: 30px;
      color: #8a8c99;

      .menu-header {
        font-family: 'M PLUS 1p', sans-serif;
        font-size: 13px;
        letter-spacing: 2px;
      }

      .item {
        font-family: 'Comfortaa', cursive;
        font-size: 18px;
        letter-spacing: 1.5px;
        padding: 10px 0;
      }

      %icon {
        width: 20vh;
        background-color: #8a8c99;
        display: inline;
        padding-right: 25px;
      }

      .icon-1 {
        @extend %icon;

        -webkit-mask-image: url(../../icons/bubble_chart_black_24dp.svg);
        mask-image: url(../../icons/bubble_chart_black_24dp.svg);
      }

      .icon-2 {
        @extend %icon;

        -webkit-mask-image: url(../../icons/campaign_black_24dp.svg);
        mask-image: url(../../icons/campaign_black_24dp.svg);
      }

      .icon-3 {
        @extend %icon;

        -webkit-mask-image: url(../../icons/mic_black_24dp.svg);
        mask-image: url(../../icons/mic_black_24dp.svg);
      }

      .icon-4 {
        @extend %icon;

        -webkit-mask-image: url(../../icons/collections_black_24dp.svg);
        mask-image: url(../../icons/collections_black_24dp.svg);
      }

      .text {
        display: inline;
        padding-left: 20px;
        color: #8a8c99;
        text-decoration: none;
      }

      .text:hover {
        text-decoration: underline;
      }
    }
  }

  .main {
    position: absolute;
    left: 15vw;
    width: 84.18vw;

    %button {
      height: 48px;
      width: 48px;
      border: none;
      cursor: pointer;
      border-radius: 20px;
      box-shadow: 5px 5px 5px 5px rgba($color: #8a8c99, $alpha: 0.3);
      outline: none;
      position: absolute;
      background-position: center;
      top: 30px;
      background-repeat: no-repeat;
    }

    .feature-week {
      height: 408px;
      background-image: url(../../image/альбом1.png);
      background-size: 100%;
      background-position: center;
      font-family: 'M PLUS 1p', sans-serif;

      .profile {
        @extend %button;

        background-image: url(../../image/артист4.png);
        background-size: 120%;
        right: 70px;
      }

      .notifications {
        @extend %button;

        background-color: $pink;
        color: $white;
        font-size: 20px;
        right: 136px;
      }

      .search {
        @extend %button;

        background-image: url(../../icons/search_black_24dp.svg);
        background-size: 22px;
        background-color: $white;
        right: 202px;
      }

      .title {
        height: 39px;
        width: 252px;
        background-color: $white;
        border-radius: 20px;
        position: absolute;
        top: 122px;
        left: 767px;
      }

      .title-text {
        color: $pink;
        letter-spacing: 2px;
        text-align: center;
        font-size: 15px;
        line-height: 12px;
        padding-top: 15px;
      }

      .song-name {
        position: absolute;
        font-size: 50px;
        letter-spacing: 3px;
        font-weight: 600;
        color: $white;
        top: 168px;
        left: 767px;
      }

      .singers {
        position: absolute;
        top: 234px;
        left: 767px;
        font-size: 25px;
        letter-spacing: 3px;
        color: $white;
      }

      .play {
        @extend %button;

        height: 68px;
        width: 68px;
        top: 303px;
        left: 767px;
        background-color: $white;
        background-image: url(../../icons/arrow_right_black_24dp.svg);
        background-size: 70px;
        background-repeat: no-repeat;
      }
    }

    .weekly-top {
      margin: 41px 50px 0 41px;
      font-family: 'Comfortaa', cursive;

      .legend {
        display: flex;
        justify-content: space-between;
      }

      .title {
        padding-left: 18px;
        font-size: 28px;
        font-weight: 500;
        letter-spacing: 3px;
        color: #373944;
      }

      .prev {
        @extend %button;

        background-image: url(../../icons/chevron_left_black_24dp.svg);
        top: 433px;
        right: 146px;
      }

      .next {
        @extend %button;

        background-image: url(../../icons/chevron_right_black_24dp.svg);
        top: 433px;
        right: 72px;
        background-color: $pink;
      }

      ul {
        padding: 0;
        margin: 0;
      }

      .single-items {
        display: flex;
        list-style: none;
        justify-content: space-between;
        overflow: hidden;

        .item {
          padding: 28px 25px;
          width: 50%;

          %photo {
            height: 198px;
            width: 198px;
            border-radius: 10px;
            background-position: center;
            background-size: 100%;
            box-shadow: 5px 5px 5px 5px rgba($color: #8a8c99, $alpha: 0.3);
          }

          .single-photo-1 {
            @extend %photo;

            background-image: url(../../image/песня1.png);
            background-position: center;
          }

          .single-photo-2 {
            @extend %photo;

            background-image: url(../../image/песня6.png);
          }

          .single-photo-3 {
            @extend %photo;

            background-image: url(../../image/песня4.png);
          }

          .single-photo-4 {
            @extend %photo;

            background-image: url(../../image/песня5.png);
          }

          .single-photo-5 {
            @extend %photo;

            background-image: url(../../image/альбом3.png);
          }

          .single-photo-6 {
            @extend %photo;

            background-image: url(../../image/песня3.png);
          }

          .name-song {
            width: 198px;
            font-size: 20px;
            letter-spacing: 1px;
            text-align: center;
            color: #0f1e36;
            font-weight: 500;
            padding-top: 32px;
          }

          .singer {
            width: 198px;
            font-size: 16px;
            letter-spacing: 1px;
            text-align: center;
            color: #8a8c99;
            padding-top: 12px;
          }
        }
      }
    }

    .top {
      display: flex;
      justify-content: space-between;
      // width: 50%;
      font-family: 'Comfortaa', cursive;

      .billboard-charts {
        width: 50%;
        margin: 5px 0 25px 50px;

        .title {
          font-size: 28px;
          font-weight: 500;
          letter-spacing: 3px;
          color: #373944;
          margin-bottom: 25px;
        }

        .audio {
          height: 48px;
          display: flex;
          padding: 8px;

          .number {
            color: #8a8c99;
            font-size: 19px;
            padding-top: 13px;
            padding-bottom: 16px;
            font-family: 'Heebo', sans-serif;
          }

          .number::before {
            content: 0;
          }

          .sing-photo {
            background-image: url(../../image/песня1.png);
            background-size: 100%;
            margin-left: 27px;
            background-position: center;
            border-radius: 5px;
            width: 56px;
            height: 48px;
            cursor: pointer;
            outline: none;
            border: none;
          }

          .sing-photo:hover {
            background-image: url(../../icons/play_circle_filled_black_24dp.svg), url(../../image/песня1.png);
            background-repeat: no-repeat, no-repeat;
            background-position: center, center;
            background-size: 40px, 100%;
          }

          .song {
            display: block;
            padding: 2px 37px;

            .song-name {
              color: #0f1e36;
              font-size: 19px;
              letter-spacing: 2px;
              padding-bottom: 5px;
              width: 400px;
            }

            .song-author {
              color: #8a8c99;
              font-size: 17px;
            }
          }

          .time {
            font-family: 'Heebo', sans-serif;
            font-size: 19px;
            color: #8a8c99;
            padding-top: 13px;
            padding-bottom: 16px;
          }

          %button-music {
            padding-right: 25px;
            background-size: 23px;
            background-position: center;
            background-repeat: no-repeat;
            outline: none;
            border: none;
            cursor: pointer;
          }

          .like {
            @extend %button-music;

            margin-left: 45px;
            margin-right: 5px;
            background-image: url(../../icons/favorite_black_24dp.svg);
          }

          .like:hover {
            background-image: url(../../icons/favourite_pink.svg);
          }

          .add {
            @extend %button-music;

            background-image: url(../../icons/add_black_24dp.svg);
            background-size: 27px;
            margin-right: 0;
          }

          .add:hover {
            background-image: url(../../icons/add_pink.svg);
          }
        }
      }
    }

    .discover {
      width: 100%;
      margin: 5px 50px 25px 10px;

      .titles {
        width: 100%;
        display: flex;
        justify-content: space-between;
        font-family: 'Comfortaa', cursive;

        .monthly-artists {
          font-size: 28px;
          font-weight: 500;
          letter-spacing: 3px;
          color: #373944;
          margin-bottom: 25px;
          margin-left: 12px;
        }

        .see-all {
          color: #373944;
          font-size: 16px;
          margin-bottom: 25px;
          padding-top: 7px;
          padding-right: 15px;
          text-decoration: none;
        }

        .see-all:hover {
          text-decoration: underline;
        }
      }

      .artists {
        display: flex;
        list-style: none;
        justify-content: space-between;
        padding: 0 20px;

        %one-item {
          width: 112px;
          height: 112px;
          background-position: center;
          background-size: 100%;
          border-radius: 40px;
        }

        .one-item-1 {
          @extend %one-item;

          background-image: url(../../image/артист1.png);
        }

        .one-item-2 {
          @extend %one-item;

          background-image: url(../../image/артист2.png);
        }

        .one-item-3 {
          @extend %one-item;

          background-image: url(../../image/артист3.png);
        }

        .one-item-4 {
          @extend %one-item;

          background-image: url(../../image/артист5.png);
        }

        .one-item-5 {
          @extend %one-item;

          background-image: url(../../image/артист7.png);
        }
      }
    }

    .genres {
      width: 100%;
      margin: 50px 50px 25px 10px;

      .titles {
        width: 100%;
        display: flex;
        justify-content: space-between;
        font-family: 'Comfortaa', cursive;

        .monthly-artists {
          font-size: 28px;
          font-weight: 500;
          letter-spacing: 3px;
          color: #373944;
          margin-bottom: 25px;
          margin-left: 12px;
        }

        .see-all {
          color: #373944;
          font-size: 16px;
          margin-bottom: 25px;
          padding-top: 7px;
          padding-right: 25px;
          text-decoration: none;
        }

        .see-all:hover {
          text-decoration: underline;
        }
      }

      .section {
        display: flex;
        list-style: none;
        justify-content: space-between;
        padding: 0 20px;

        %one-item {
          width: 200px;
          height: 148px;
          background-position: center;
          background-size: 100%;
          border-radius: 15px;
        }

        .album {
          @extend %one-item;

          background-image: url(../../image/альбом3.png);
        }
      }
    }
  }

  .player {
    position: fixed;
    bottom: 0;
    width: 100%;
    border-radius: 0;
    height: 95px;
    background-color: $white;
    display: flex;

    .song-image {
      margin-left: 40px;
      height: 58px;
      width: 66px;
      background-image: url(../../image/The_Weeknd_-_The_Highlights.png);
      background-position: center;
      background-size: 100%;
      border-radius: 10px;
      margin-top: 20px;
    }

    .full-name {
      margin-left: 20px;
      margin-top: 25px;
      font-family: 'Comfortaa', cursive;
      width: 250px;

      .name {
        font-size: 18px;
        color: #0f1e36;
        letter-spacing: 1px;
      }

      .singer {
        font-size: 16px;
        padding-top: 7px;
        color: #8a8c99;
      }
    }

    %music-button {
      width: 40px;
      height: 40px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 18px;
      background-color: $white;
      outline: none;
      border: none;
      cursor: pointer;
    }

    .buttons {
      margin-left: 10px;
      margin-top: 22px;

      .repeat {
        @extend %music-button;

        background-image: url(../../icons/repeat_black_24dp.svg);
      }

      .back {
        @extend %music-button;

        background-image: url(../../icons/skip_previous_black_24dp.svg);
        background-size: 25px;
      }

      .play {
        @extend %music-button;

        background-image: url(../../icons/arrow.svg);
        width: 50px;
        height: 50px;
        background-size: 45px;
        border-radius: 20px;
        background-color: $pink;
        margin-left: 2px;
      }

      .next {
        @extend %music-button;

        background-image: url(../../icons/skip_next_black_24dp.svg);
        background-size: 25px;
        margin-left: 2px;
      }

      .mix {
        @extend %music-button;

        background-image: url(../../icons/shuffle_black_24dp.svg);
        background-size: 19px;
      }
    }

    input[type='range'] {
      margin-top: 16px;
      width: 670px;
      background-color: #d3d3d3;
      -webkit-appearance: none;
      height: 5px;
    }

    input[type='range']::-webkit-slider-thumb {
      -webkit-appearance: none;
      height: 13px;
      width: 13px;
      border-radius: 10px;
      cursor: pointer;
      background: $pink;
      box-shadow: 0 0 3px 5px #dda0dd; /* Add cool effects to your sliders! */
    }

    input[type='range']::-moz-range-thumb {
      box-shadow: 0 0 3px 5px #dda0dd;
      height: 13px;
      width: 13px;
      border-radius: 10px;
      background: $pink;
      cursor: pointer;
    }

    input[type='range']::-ms-thumb {
      box-shadow: 0 0 3px 5px #dda0dd;
      height: 13px;
      width: 13px;
      border-radius: 10px;
      background: $pink;
      cursor: pointer;
    }

    .time-slider {
      display: flex;
      margin: 32px;
      font-family: 'Heebo', sans-serif;
      color: #8a8c99;

      .current-time {
        margin: 7px 12px;
      }

      .time-left {
        margin: 7px 12px;
      }
    }

    .volume {
      display: flex;
      margin: 29px 32px;

      .icon {
        @extend %music-button;

        background-image: url(../../icons/volume_up_black_24dp.svg);
        background-size: 22px;
      }

      input[type='range'] {
        margin-top: 19px;
        width: 130px;
      }
    }

    .end-icons {
      display: flex;
      margin: 29px 20px 39px 40px;

      .settings {
        @extend %music-button;

        background-image: url(../../icons/settings_black_24dp.svg);
        background-size: 22px;
      }

      .album {
        @extend %music-button;

        background-image: url(../../icons/folder_black_24dp.svg);
        background-size: 22px;
      }
    }
  }
}
