@import '../../styles/colors.scss';

.top-billboard {
  background-color: $white;
  border-radius: 50px 0 0 50px;
  width: 100%;
  box-sizing: border-box;
  padding: 30px;
  height: 100%;

  &__wrapper {
    padding: 15px 0 15px 15px;
    width: 100%;
    height: calc(100vh - 135px);
    box-sizing: border-box;
  }

  &__title {
    font-family: 'Comfortaa', cursive;
    font-size: 30px;
    line-height: 33px;
    margin-bottom: 30px;
  }

  &__content {
    font-family: 'Comfortaa', cursive;
    color: #0094b6;
    font-size: 16px;
    line-height: 16px;
    font-weight: lighter;
  }

  &__not-found {
    text-align: center;
    padding: 50px;
    font-size: 20px;
  }

  &__table {
    height: calc(100vh - 288px);
  }

  &__photo {
    width: 30px;
    height: 30px;
    margin-right: 20px;
    border-radius: 5px;
  }
}

.top-billboard__wrapper--mob {
  height: calc(100vh - 175px);

  .top-billboard {
    padding: 20px 0 20px 20px;

    &__table {
      height: calc(100vh - 300px);
    }

    &__title {
      font-size: 20px;
      margin-bottom: 10px;
    }
  }
}
