.not-found-page {
  width: 100%;
  height: calc(100vh - 75px);

  &__photo {
    margin: auto;
    width: 400px;
    height: 400px;
    padding-top: 250px;
    background-image: url(./img/error.png);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
  }
}

.not-found-page--mob {
  height: 100%;

  .not-found-page {
    &__photo {
      padding-top: 25%;
      width: 100%;
    }
  }
}
