.not-found-page {
  width: 100%;
  height: calc(100vh - 75px);

  .photo {
    margin: auto;
    width: 400px;
    height: 400px;
    padding-top: 250px;
    background-image: url(./img/imgonline-com-ua-Transparent-backgr-eQE1dSPL40d3m8.png);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
  }
}
