@import '../../styles/colors.scss';

.artist-page {
  width: 100%;
  height: 100%;
  padding: 40px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;

  &__artist-icons {
    display: flex;
    margin-top: 25px;
    margin-left: 40px;
  }

  &__main {
    display: flex;
    align-items: center;
  }

  &__icon-like {
    margin-right: 7px;
    cursor: pointer;

    svg {
      width: 25px;
      height: 25px;

      &:hover {
        path {
          fill: $pink;
        }
      }
    }
  }

  &__icon-ok {
    cursor: pointer;

    svg {
      width: 25px;
      height: 25px;

      &:hover {
        path {
          stroke: $pink;
        }
      }
    }
  }

  &__img {
    height: 400px;
    border-radius: 5px;
  }

  &__title {
    margin-top: 25px;
    font-size: 36px;
  }

  &__desc {
    margin: 20px 0;
    color: $gray;
  }
}

.artist-page--mob {
  padding: 15px;
  box-sizing: border-box;
  height: 100%;

  .artist-page {
    &__img {
      max-height: 200px;
      max-width: 100%;
    }

    &__table {
      width: 100%;
      overflow: auto;
    }

    &__desc {
      text-align: center;
    }

    &__title {
      font-size: 20px;
    }
  }
}
