@import '../../../styles/colors.scss';

.favorite-tracks {
  background-color: $white;
  border-radius: 50px 0 0 50px;
  width: 100%;
  box-sizing: border-box;
  padding: 30px;

  &__title {
    font-family: 'Comfortaa', cursive;
    font-size: 30px;
    line-height: 33px;
    margin-bottom: 30px;
  }
}
