@import '../../styles/colors.scss';

.player {
  width: 100%;
  border-radius: 0;
  height: 95px;
  background-color: $white;
  display: flex;
  overflow: auto;

  .song-image {
    margin-left: 40px;
    height: 58px;
    width: 66px;
    background-image: url(../../image/The_Weeknd_-_The_Highlights.png);
    background-position: center;
    background-size: 100%;
    border-radius: 10px;
    margin-top: 20px;
  }

  .full-name {
    margin-left: 20px;
    margin-top: 25px;
    font-family: 'Comfortaa', cursive;
    width: 250px;

    .name {
      font-size: 18px;
      color: #0f1e36;
      letter-spacing: 1px;
      display: block;
      cursor: pointer;
      text-decoration: none;
    }

    .name:hover {
      color: $pink;
    }

    .singer {
      font-size: 16px;
      padding-top: 7px;
      color: #8a8c99;
      display: block;
      cursor: pointer;
      text-decoration: none;
    }

    .singer:hover {
      color: $pink;
    }
  }

  %music-button {
    width: 40px;
    height: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 18px;
    background-color: $white;
    outline: none;
    border: none;
    cursor: pointer;
  }

  .buttons {
    margin-left: 10px;
    margin-top: 22px;

    .repeat {
      @extend %music-button;

      background-image: url(../../icons/repeat_black_24dp.svg);
    }

    .back {
      @extend %music-button;

      background-image: url(../../icons/skip_previous_black_24dp.svg);
      background-size: 25px;
    }

    .play {
      @extend %music-button;

      background-image: url(../../icons/arrow.svg);
      width: 50px;
      height: 50px;
      background-size: 45px;
      border-radius: 20px;
      background-color: $pink;
      margin-left: 2px;
    }

    .next {
      @extend %music-button;

      background-image: url(../../icons/skip_next_black_24dp.svg);
      background-size: 25px;
      margin-left: 2px;
    }

    .mix {
      @extend %music-button;

      background-image: url(../../icons/shuffle_black_24dp.svg);
      background-size: 19px;
    }
  }

  input[type='range'] {
    margin-top: 16px;
    width: 670px;
    background-color: #d3d3d3;
    -webkit-appearance: none;
    height: 5px;
  }

  input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 13px;
    width: 13px;
    border-radius: 10px;
    cursor: pointer;
    background: $pink;
    box-shadow: 0 0 3px 5px #dda0dd; /* Add cool effects to your sliders! */
  }

  input[type='range']::-moz-range-thumb {
    box-shadow: 0 0 3px 5px #dda0dd;
    height: 13px;
    width: 13px;
    border-radius: 10px;
    background: $pink;
    cursor: pointer;
  }

  input[type='range']::-ms-thumb {
    box-shadow: 0 0 3px 5px #dda0dd;
    height: 13px;
    width: 13px;
    border-radius: 10px;
    background: $pink;
    cursor: pointer;
  }

  .time-slider {
    display: flex;
    margin: 32px;
    font-family: 'Heebo', sans-serif;
    color: #8a8c99;

    .current-time {
      margin: 7px 12px;
    }

    .time-left {
      margin: 7px 12px;
    }
  }

  .volume {
    display: flex;
    margin: 29px 32px;

    .icon {
      @extend %music-button;

      background-image: url(../../icons/volume_up_black_24dp.svg);
      background-size: 22px;
    }

    input[type='range'] {
      margin-top: 19px;
      width: 130px;
    }
  }

  .end-icons {
    display: flex;
    margin: 29px 20px 39px 40px;

    .settings {
      @extend %music-button;

      background-image: url(../../icons/settings_black_24dp.svg);
      background-size: 22px;
    }

    .album {
      @extend %music-button;

      background-image: url(../../icons/folder_black_24dp.svg);
      background-size: 22px;
    }
  }
}
