@import '../../styles/colors.scss';

.tracks-table {
  font-family: 'Comfortaa', cursive;
  color: #0094b6;
  font-size: 16px;
  line-height: 16px;
  font-weight: lighter;
  width: 100%;

  &__row {
    // width: 100%;
    display: flex;
    align-items: center;

    &--header {
      border-bottom: 1px solid $borders;
      margin-left: 5px;
    }

    &--track {
      cursor: pointer;
      transition: all 0.3s;

      &:hover {
        background-color: $cyan-light;
        color: $white;
      }
    }
  }

  &__not-found {
    text-align: center;
    padding: 50px;
    font-size: 20px;
  }

  &__celll {
    padding: 10px;
    height: 50px;
    box-sizing: border-box;
    white-space: pre;
    text-overflow: ellipsis;
    overflow: hidden;
    display: flex;
    align-items: center;
    border-right: 1px solid $borders;
    width: 75px;
    justify-content: center;
  }

  &__cell {
    padding: 10px;
    height: 50px;
    box-sizing: border-box;
    white-space: pre;
    text-overflow: ellipsis;
    overflow: hidden;
    display: flex;
    align-items: center;

    &:nth-child(1) {
      border-right: 1px solid $borders;
      width: 50px;
    }

    &:nth-child(2) {
      width: 270px;
      border-right: 1px solid $borders;
    }

    &:nth-child(3) {
      width: 220px;
      border-right: 1px solid $borders;
    }

    &:nth-child(4) {
      width: 70px;
      border-right: 1px solid $borders;
      justify-content: center;
    }
  }

  &__icon-icon-delete {
    cursor: pointer;

    svg:hover > path {
      stroke: #f00;
    }
  }

  &__icon-icon-like {
    cursor: pointer;
    margin-right: 10px;

    svg:hover > path {
      fill: #ef548e;
    }
  }

  &__icon-plus {
    cursor: pointer;

    svg:hover > path {
      stroke: #ef548e;
    }
  }

  &__photo {
    width: 30px;
    height: 30px;
    margin-right: 20px;
    border-radius: 5px;
  }

  &__icons {
    display: flex;

    svg {
      width: 20px;
      height: 20px;
    }
  }

  &__together {
    display: flex;
    margin-left: 5px;
  }

  &__icon-icon-flike {
    cursor: pointer;
    margin-right: 10px;
  }

  &__icon-icon {
    cursor: pointer;
  }

  &__icon {
    cursor: pointer;
  }
}
