@import '../../styles/colors.scss';

.tracks-table {
  font-family: 'Comfortaa', cursive;
  color: #0094b6;
  font-size: 16px;
  line-height: 16px;
  font-weight: lighter;
  width: 100%;
  height: 100%;

  img {
    cursor: pointer;
  }

  &__name {
    cursor: pointer;
  }

  &__artist {
    cursor: pointer;
  }

  &__together-wrapper {
    height: 100%;
    overflow: auto;

    &--header {
      height: calc(100% - 50px);
    }
  }

  &__row {
    display: flex;
    align-items: center;

    &--header {
      border-bottom: 1px solid $borders;
      margin-left: 7px;
    }

    &--track {
      transition: all 0.3s;
      border: 2px solid $white;

      &:hover {
        border: 2px solid $cyan-light;
      }
    }

    &--track--not-white {
      transition: all 0.3s;
      border: 2px solid $page-background;

      &:hover {
        border: 2px solid $cyan-light;
      }
    }
  }

  &__not-found {
    text-align: center;
    padding: 50px;
    font-size: 20px;
  }

  &__cell {
    padding: 10px;
    height: 50px;
    box-sizing: border-box;
    white-space: pre;
    text-overflow: ellipsis;
    overflow: hidden;
    display: flex;
    align-items: center;

    &:nth-child(1) {
      border-right: 1px solid $borders;
      width: 50px;
    }

    &:nth-child(2) {
      border-right: 1px solid $borders;
      width: 300px;
    }

    &:nth-child(3) {
      border-right: 1px solid $borders;
      width: 300px;
    }

    &:nth-child(4) {
      border-right: 1px solid $borders;
      justify-content: center;
      width: 100px;
    }

    &:nth-child(5) {
      border-right: 1px solid $borders;
      justify-content: center;
      width: 100px;
    }
  }

  &__icon-icon-delete {
    cursor: pointer;

    svg:hover > path {
      stroke: #f00;
    }
  }

  &__icon-delete-playlist {
    margin-left: 5px;
    cursor: pointer;

    svg:hover > path {
      stroke: #f00;
    }
  }

  &__icon-icon-like {
    cursor: pointer;
    margin-right: 10px;

    svg:hover > path {
      fill: #ef548e;
    }
  }

  &__icon-plus {
    cursor: pointer;

    svg:hover > path {
      stroke: #ef548e;
    }
  }

  &__photo {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 5px;
  }

  &__icons {
    display: flex;

    svg {
      width: 20px;
      height: 20px;
    }
  }

  &__together {
    display: flex;
    margin-left: 5px;
  }

  &__icon-icon-flike {
    cursor: pointer;
    margin-right: 10px;
  }

  &__icon-icon {
    cursor: pointer;
  }

  &__icon {
    cursor: pointer;
  }
}

.tracks-table--mob {
  font-size: 12px;
  height: 100%;

  ::-webkit-scrollbar {
    width: 5px;
  }

  .tracks-table {
    &__together-mob-wrapper {
      overflow: auto;
      height: 100%;
    }

    &__track {
      padding: 5px;
      display: flex;
      align-items: center;
    }

    &__photo {
      width: 45px;
      height: 45px;
    }

    &__track-artists {
      color: $gray;
    }

    &__track-name {
      color: $black;
      font-size: 16px;
      margin-bottom: 5px;
    }

    &__track-info {
      flex-grow: 1;
    }

    &__actions {
      margin-right: 5px;
    }
  }
}
