@import '../../styles/colors.scss';

.header {
  height: 60px;
  width: 100%;
  background-color: $white;
  display: flex;
  align-items: center;
  padding: 0 15px;
  box-sizing: border-box;
  border-bottom: 1px solid $borders;
  justify-content: space-between;

  &__logo {
    width: 60px;
    height: 50px;
    background-image: url(icons/Logo_solo_mockup.svg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
  }

  &__left {
    display: flex;
    align-items: center;
  }

  &__logo-text {
    margin: 0 20px;
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
    color: $cyan;
  }

  &__search-form {
    position: relative;
    width: 350px;
    height: 40px;
    border-radius: 40px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    background: #fff;
    transition: all 0.3s ease;
  }

  &__search-icon {
    height: 20px;
    width: 20px;
    background-image: url(icons/search_black_24dp.svg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
  }

  &__search-input {
    position: absolute;
    top: 10px;
    left: 38px;
    background: none;
    color: $gray;
    width: 300px;
    height: 20px;
    border: none;
    appearance: none;
    outline: none;
    font-family: 'Comfortaa', cursive;
    font-size: 18px;

    &::-webkit-search-cancel-button {
      appearance: none;
    }
  }

  &__search-button {
    position: absolute;
    top: 10px;
    left: 15px;
    height: 20px;
    width: 20px;
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    outline: none !important;
    cursor: pointer;
  }

  .profile {
    height: 38px;
    width: 38px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 2px 8px rgb(0 0 0 / 35%);
    outline: none;
    background-position: center;
    background-repeat: no-repeat;

    &__image {
      height: 38px;
      width: 38px;
      border-radius: 20px;
      object-fit: cover;
      cursor: pointer;
    }

    ul {
      padding: 0;
      margin: 0;
    }

    &__menu {
      position: absolute;
      opacity: 0;
      pointer-events: none;
      background-color: $white;
      width: 300px;
      top: 75px;
      right: -15px;
      border-radius: 10px;
      z-index: 100;
      transition: all 0.3s;
      padding: 15px;
      box-sizing: border-box;
      box-shadow: 2px 2px 12px rgb(0 0 0 / 25%);

      &::before {
        content: '';
        display: inline-block;
        position: absolute;
        height: 16px;
        width: 16px;
        background-color: $white;
        right: 40px;
        top: -8px;
        transform: rotate(45deg);
      }

      &--expand {
        opacity: 1;
        pointer-events: all;
      }
    }

    &__item {
      padding: 5px 0;
      width: 100%;
      display: flex;
      align-items: center;
      cursor: pointer;

      &:hover {
        .profile__link {
          color: $pink;
        }

        .profile__icon {
          svg {
            height: 25px;
            width: 25px;

            path {
              stroke: $pink;
            }
          }
        }
      }
    }

    &__icon {
      height: 25px;
      width: 25px;
      transition: all 0.5s;
      margin: 0 15px 0 0;

      svg {
        height: 25px;
        width: 25px;

        path {
          stroke: $gray;
        }
      }
    }

    &__link {
      text-decoration: none;
      color: $gray;
      margin-right: 0;
      width: 200px;
      transition: all 0.5s;
    }

    &__items-user {
      margin-top: 13px;
      list-style: none;
      font-family: 'Comfortaa', cursive;
      text-align: start;
      font-size: 18px;
      margin-left: 20px;
    }

    &__line {
      margin: 10px 0;
      height: 1px;
      width: 100%;
      border-bottom: 1px solid $borders;
    }

    &__data {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__photo {
      height: 55px;
      width: 55px;
      border-radius: 35px;
      object-fit: cover;
    }

    &__text {
      text-align: start;
      font-family: 'Comfortaa', cursive;
      font-size: 15px;
      color: $gray;
    }

    &__nickname {
      margin-bottom: 5px;
      font-size: 20px;
      font-weight: 600;
    }
  }
}
