@import './styles/colors.scss';

body {
  background-color: $background;
  padding: 0;
  margin: 0;
  font-family: 'Alegreya', serif;
}

input {
  outline: none;
  font-family: 'Alegreya', serif;
}
