@import '../../styles/colors.scss';

.titles {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-family: 'Comfortaa', cursive;

  .monthly-artists {
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 3px;
    color: #373944;
    margin-bottom: 25px;
    margin-left: 12px;
  }

  .see-all {
    color: #373944;
    font-size: 16px;
    margin-bottom: 25px;
    padding-top: 7px;
    padding-right: 15px;
    text-decoration: none;
  }

  .see-all:hover {
    color: $pink;
  }
}

.artists {
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding: 0 20px;
  overflow: hidden;

  .find-artist {
    text-decoration: none;

    .artists-photo {
      width: 112px;
      height: 112px;
      border-radius: 40px;
      cursor: pointer;
      object-fit: cover;
    }
  }
}
